{% extends "layout.html.twig" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<h1 class="cover-heading">Create your mosiac.</h1>

<form class="form-horizontal" action="{{ path('api_create_mosaic') }}" method="post" enctype="multipart/form-data">
    <fieldset>
        <label for="date">Flickr date:</label>
        <input type="text" id="date" name="date" value="{{ 'now'|date_modify('-1 day')|date('Y-m-d') }}" />
        <br />
        <label for="upload">File:</label>
        <input type="file" id="upload" name="upload" />
        <button type="submit" class="btn btn-lg btn-default">Submit</button>
    </fieldset>
</form>

{% endblock %}
